.App {
  text-align: center;

  .grid {
    display: grid;
    border: 1px solid black;
    // gap: 1px;
    // grid-template-columns: repeat(17, 1fr);
    grid-template-columns: repeat(9, 1fr);
    width: 40%;
    margin: auto;

    .cell {
      padding-bottom: 100%;
      border: 1px solid black;

      &--head {
        background-color: green;
      }

      &--tail {
        background-color: #ffbf00;
      }

      &--tail-end {
        background-color: cyan;
      }

      &--point {
        background-color: #cc00ff;
      }
    }
  }

  .gameover {
    color: red;
  }
}